.container{
	margin:0 auto;
	width: 940px;
}

/*--- main navigation ---*/

.main-navigation li{
	display:inline-block;
	text-decoration: none;
}

.main-navigation li{
	display:inline-block;
	text-decoration: none;
}
11