.container{
	margin:0 auto;
	width: 940px;
}
.main-header{background-color: #000;}

/*--- main navigation ---*/


.main-navigation li{
	

	
}

.main-navigation {

}


.main-navigation a{

}


.clearfix{
	content"";
	display:table;
	clear:both;

}